https://pandas.pydata.org/docs/getting_started/intro_tutorials/10_text_data.html

In [128]:
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

In [129]:
#Importamos dataset de Titanic 
df = pd.read_csv(r'https://raw.githubusercontent.com/Lawlesscodelen/thebridge_ds/master/data/titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [130]:
df.shape

(891, 12)

In [131]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [162]:
# Cogemos la columna name y Pasamos todos los caracteres a minÃºscula y eliminamos puntuaciones utilizando str.lower y str.replace
dfname = df.drop(columns = ['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
dfname.head()

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                           Allen, Mr. William Henry

In [163]:
dfname= dfname.Name.str.lower()

In [164]:
dfname

0                                braund, mr. owen harris
1      cumings, mrs. john bradley (florence briggs th...
2                                 heikkinen, miss. laina
3           futrelle, mrs. jacques heath (lily may peel)
4                               allen, mr. william henry
                             ...
886                                montvila, rev. juozas
887                         graham, miss. margaret edith
888             johnston, miss. catherine helen "carrie"
889                                behr, mr. karl howell
890                                  dooley, mr. patrick
Name: Name, Length: 891, dtype: object

In [145]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [146]:
def remove_punctuation(text):
    no_punct = "".join([c for c in text if c  not in string.punctuation or c == ','])
    return no_punct

In [147]:
dfname = dfname.apply(lambda a: remove_punctuation(a))

In [148]:
dfname.head()

0                              braund, mr owen harris
1    cumings, mrs john bradley florence briggs thayer
2                               heikkinen, miss laina
3           futrelle, mrs jacques heath lily may peel
4                             allen, mr william henry
Name: Name, dtype: object

In [114]:
#Cree una nueva columna Surname que contenga el apellido de los Pasajeros extrayendo la parte antes de la coma.

#Usando el mÃ©todo Series.str.split (), cada uno de los valores se devuelve como una lista de 2 elementos. El primer elemento es la parte anterior a la coma y el segundo elemento la parte posterior a la coma.

dfSurname = dfname.str.split(pat = ",")
dfSurname

0                              [braund,  mr owen harris]
1      [cumings,  mrs john bradley florence briggs th...
2                               [heikkinen,  miss laina]
3           [futrelle,  mrs jacques heath lily may peel]
4                             [allen,  mr william henry]
                             ...
886                              [montvila,  rev juozas]
887                       [graham,  miss margaret edith]
888             [johnston,  miss catherine helen carrie]
889                              [behr,  mr karl howell]
890                                [dooley,  mr patrick]
Name: Name, Length: 891, dtype: object

In [102]:
dfSurname.shape

(891,)

In [149]:
df["Surname"] = dfname["Name"].str.split(",").str.get(0)

KeyError: 'Name'

In [3]:
#Seleccionar los datos [todas las columnas] del pasajero 'Countess'.Infor sobre quiÃ©n era: https://www.themarysue.com/the-countess-of-rothes/
df.loc[df['Name'] == some_value]

In [4]:
# QuÃ© pasajero del titanic tiene el nombre mÃ¡s largo? Primero tenemos que dar un paso: 
# Obtener la longitud de cada uno de los nombres con series.str.len

In [5]:
#A continuaciÃ³n, necesitamos obtener la ubicaciÃ³n correspondiente, preferiblemente la etiqueta de Ã­ndice, en la tabla para la cual la longitud del nombre es la mÃ¡s grande. Utiliza el mÃ©todo idxmax.

In [6]:
#Utilizando loc sacamos el nombre

In [7]:
#Ahora pasamos a contar el nÃºmero de apellidos que hay

In [8]:
#Hacemos una lista de los apellidos mÃ¡s comunes y cogemos los 20 primeros

In [ ]:
#Importar matplotlib

In [9]:
#Lo ponemos en un plotbar (grÃ¡fico de barras) con la lista de apellidos mÃ¡s comunes

In [10]:
#Seleccionamos el apellido mÃ¡s comÃºn y vemos a quÃ© clase pertenece cada uno y si han sobrevivido o no

In [11]:
#Ahora con el apellido Williams